/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Default styles for light mode */
body {
    background-color: #ffffff;
    color: #333333;
    transition: background-color 0.3s, color 0.3s;
}

/* Styles for dark mode */
.dark-mode body {
    background-color: #333333;
    color: #ffffff;
}

/* Style for the dark mode toggle button */
.dark-mode button {
    background-color: #333333;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
}

.translation {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center; /* Center the navigation items */
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    background-color: #fff;
    color: #333;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.intro p {
    margin-bottom: 20px;
}

.featured-resources {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px;
    margin-top: 20px;
}

.countdown {
    text-align: center;
    padding: 10px 0;
    background-color: #f7f7f7;
}

.countdown h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

#countdown-timer {
    font-size: 24px;
    color: #333333;
    font-weight: bold;
}

.resource {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: inset -5px -5px 10px rgba(0,0,0,.1);
}

.resource h3 {
    margin-bottom: 10px;
}

.resource p {
    margin-bottom: 15px;
}

.resource a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

/* Regular navigation styling */
.nav-container ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.nav-container li {
    margin: 0 15px;
}

/* Hamburger icon styling */
.hamburger-icon {
    display: none; /* Hide by default on larger screens */
    cursor: pointer;
}





/* Media query for screens 600px and below */
@media (max-width: 600px) {
    header h1 {
        font-size: 24px;
    }

    nav li {
        margin-right: 10px;
    }

    .featured-resources {
        grid-template-columns: 1fr; /* Change to single column */
    }

        .nav-container ul {
        display: none; /* Hide regular navigation on smaller screens */
    }

    .hamburger-icon {
        display: block; /* Show hamburger icon on smaller screens */
    }
}
